<section>
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top is-full" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="https://dynamic.brandcrowd.com/asset/logo/99cb1360-acee-42a6-b0d7-d89aa74e8874/logo?v=4"
                        class="logoCoupon">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="http://localhost:1337/coupon">
                        Home
                    </a>

                    <a class="navbar-item" href="http://localhost:1337/coupon/search">
                        Search
                    </a>
                    <% if(user.username){ %>
                    <a class="navbar-item" href="http://localhost:1337/user/redeem">
                        My Redeemed Coupons
                    </a>
                    <% } %>

                    <% if(user.username && user.role == "admin"){ %>
                    <a class="navbar-item" href="http://localhost:1337/coupon/create">
                        Create
                    </a>

                    <a class="navbar-item" href="http://localhost:1337/coupon/admin">
                        Admin
                    </a>
                    <% } %>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <% if(!user.username){ %>
                        <a class="button is-primary" id="signUp">
                            <strong id="kk">Sign up</strong>
                        </a>

                        <a class="button is-light" href="http://localhost:1337/user/login">
                            Log in
                        </a>
                        <% }else { %>

                        <p>hi, <%= user.username %></p>

                        <button class="button is-light" onclick="logout()">
                            Log out
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</section>

<hr>
<Section>
    <div class="container">
        <p><Strong>Coupon</Strong></p>
        <p>Redeem your coins for dining coupons</p>
    </div>
</Section>

<br>
<br>


<section>
    <div id = "redeemInfo">
    <div>
        <p>Redeemed Coupons:</p>
    </div>

    <div >
        <p>Current Balance : <%= user.coin %></p>
    </div>
    </div>
</section>


<section>
    <% user.have.forEach(function(coupon) { %>
    <div class="couponContainerRead">

        <div class="columns  is-mobile is-multiline is-vcentered">


            <div class="column is-mobile">

                

                <a href="http://localhost:1337/coupon/detail/<%= coupon.id %>">
                    <figure>
                        <img style="object-fit:cover" src="<%= coupon.image %>" />
                    </figure>

                    <div class="text-block">
                        <p><strong><%= coupon.restaurant %></strong></p>
                        <p><%= coupon.title %></p>
                        <br>
                        <p>Expiry Date: <%= coupon.expireDate %></p>
                    </div>
                    <br>
                </a>



            </div>
        </div>
    </div>

    <% }); %>

</section>








<script>
    async function logout() {

        var response = await fetch("/user/logout", {
            method: "POST",
        });

        if (response.ok) {
            alert("You have been logged out.");
            location.assign("http://localhost:1337/coupon/read");
        } else {
            alert(response.statusText);
        }

    }

</script>