<section>
    <div class="container">
        <figure>
            <img class="detailPhoto" src="<%= coupon.image %>" />
        </figure>


    </div>
</section>



<section>
    <div class="container">
        <ul class="a">
            <li><%= coupon.restaurant %></li>
            <li><%= coupon.title %></li>
            <li>Coins: <%= coupon.coin %></li>
            <li>Address: <%= coupon.mall %>,<%= coupon.region %></li>
            <li>Expiry Date: <%= coupon.expireDate %></li>
            <li><%= coupon.detail %></li>
        </ul>
    </div>
</section>