<section>
    <div class="container">
        <figure>
            <img class="detailPhoto" src="<%= coupon.image %>" />
        </figure>


    </div>
</section>



<section>
    <div class="container">
        <ul class="a">
            <li><%= coupon.restaurant %></li>
            <li><%= coupon.title %></li>
            <li>Coins: <%= coupon.coin %></li>
            <li>Address: <%= coupon.mall %>,<%= coupon.region %></li>
            <li>Expiry Date: <%= coupon.expireDate %></li>
            <li><%= coupon.detail %></li>
        </ul>
    </div>

</section>

<section>
    <div>
        <ul class="a"><li><strong>Quota: <%= coupon.quota %></strong></li></ul></div>

</section>

<% if(user.userid){ %>
<section>
    

    <div class="field">
        <div class="control">
            <button class="button is-link " id="redeem" type="submit"
                onclick="redeem('<%= coupon.id %>', '<%= user.userid %>', '<%= coupon.coin %>', '<%= user.coin %>', '<%= coupon.quota %>' )">Redeem</button>
        </div>
    </div>
   
</section>
 <% } %>


<script>



    async function codeAddress() {

        console.log("<%= user.coin %>");

        var response = await fetch("/user/<%= user.userid %>/coupon/<%= coupon.id %>", {
            method: "GET"
        });

        if (!response.ok) {
            var x = document.getElementById("redeem");
            x.style.display = "none";


        }


    }

    window.onload = codeAddress;

</script>




<script>

    async function redeem(couponid, userid, couponcoin, usercoin, couponquota) {


        var r = confirm("Confirm Redeem?");

        if (r) {
            if(usercoin >= couponcoin){
                console.log("u"+usercoin);
                console.log("c"+couponcoin);
                console.log("hh");
            }
            if (usercoin >= couponcoin && couponquota > 0) {

                var response = await fetch("/user/" + userid + "/have/add/" + couponid, {
                    method: "POST"
                });

                if (response.ok) {



                    usercoin = usercoin - couponcoin;


                    var response = await fetch("/coupon/" + couponid, {
                        method: "PUT"
                    });


                    var response = await fetch("/user/" + userid + "/coin/" + couponcoin, {
                        method: "PUT"
                    });

                    alert("The coupon has been redeemed.");

                    location.reload();
                } else {
                    alert(response.status + ": " + response.statusText);
                }


            } else if (couponquota == 0) {
                alert("The quota is zero.");
            } else {
                alert("You don't have enough coin to redeem.");
            }


        } else {
            alert("cancelled");
        }
    };
</script>