<section>
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top is-full" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="https://dynamic.brandcrowd.com/asset/logo/99cb1360-acee-42a6-b0d7-d89aa74e8874/logo?v=4"
                        class="logoCoupon">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="http://localhost:1337/coupon">
                        Home
                    </a>

                    <a class="navbar-item" href="http://localhost:1337/coupon/search">
                        Search
                    </a>

                    <a class="navbar-item" href="http://localhost:1337/coupon/create">
                        Create
                    </a>

                    <a class="navbar-item" href="http://localhost:1337/coupon/admin">
                        Admin
                    </a>

                </div>
            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</section>




<hr>
<Section>
    <div class="container">
        <p><Strong>Coupon</Strong></p>
        <p>Redeem your coins for dining coupons</p>
    </div>
</Section>

<br>
<br>


<section>


    <div class="couponContainerRead">

        <div class="columns  is-mobile is-multiline is-vcentered">


            <div class="column is-mobile">

                <div class="text-block">
                    <p>HK Island</p>
                </div>
                <% coupon1.forEach(function(coupon) { %>
                <a href="http://localhost:1337/coupon/detail/<%= coupon.id %>">
                    <figure>
                        <img style="object-fit:cover" src="<%= coupon.image %>" />
                    </figure>

                    <div class="text-block">
                        <p><strong><%= coupon.restaurant %></strong></p>
                        <p><%= coupon.title %></p>
                        <br>
                        <p>Coind: <%= coupon.coin %></p>
                    </div>
                    <br>
                </a>
                
                <% }); %>

            </div>
        </div>
    </div>
    <!--<br>
    <br>-->

    <div class="couponContainerRead ">

        <div class="columns  is-mobile is-multiline is-vcentered">

            <div class="column  is-mobile ">
                <div class="text-block">
                    <p>Kowloon</p>
                </div>
                
                <% coupon2.forEach(function(rubbishcoupon) { %>
                
                <a href="http://localhost:1337/coupon/detail/<%= rubbishcoupon.id %>">
                    <figure>
                        <img style="object-fit:cover" src="<%= rubbishcoupon.image %>" />
                    </figure>

                    <div class="text-block">
                        <p><strong><%= rubbishcoupon.restaurant %></strong></p>
                        <p><%= rubbishcoupon.title %></p>
                        <br>
                        <p>Coind: <%= rubbishcoupon.coin %></p>
                    </div>
                    <br>
                    <a>
                        
                        <% }); %>
            </div>
        </div>
    </div>

    <!--<br>
    <br>-->

    <div class="couponContainerRead ">

        <div class="columns  is-mobile is-multiline is-vcentered">


            <div class="column is-mobile">
                <div class="text-block">
                    <p>New Territories</p>
                </div>
               
                <% coupon3.forEach(function(rubbishcoupon) { %>
               
                <a href="http://localhost:1337/coupon/detail/<%= rubbishcoupon.id %>">
                    <figure>
                        <img style="object-fit:cover" src="<%= rubbishcoupon.image %>" />
                    </figure>

                    <div class="text-block">
                        <p><strong><%= rubbishcoupon.restaurant %></strong></p>
                        <p><%= rubbishcoupon.title %></p>
                        <br>
                        <p>Coind: <%= rubbishcoupon.coin %></p>
                    </div>
                    <br>
                </a>
              
                <% }); %>
            </div>
            <div>
            </div>

</section>


<!--<script>



       var op =  document.getElementById("3");

       op.innerHTML = rubbishcoupon.title;


    });


</script>-->