<!--paginate.ejs-->
<Section>
    <div class="container" style="margin-left: 50px;">
        <p><Strong>Coupon</Strong></p>
        <p>Redeem your coins for dining coupons</p>
    </div>
</Section>
<br>
<br>

<section>

    <div class="couponContainer ">

        <div class="columns is-mobile is-multiline is-vcentered">
            <% var count = 0; %>
            <% coupon.forEach( function(rubbishcoupon) { %>

            <div class="couponContainer ">

                <a href="http://localhost:1337/coupon/detail/<%= rubbishcoupon.id %>">
                    <figure>
                        <img style="object-fit:cover" src="<%= rubbishcoupon.image %>" />
                    </figure>

                    <div class="text-block">
                        <p><strong><%= rubbishcoupon.restaurant %></strong></p>
                        <p><%= rubbishcoupon.title %></p>
                        <br>
                        <p>Coind: <%= rubbishcoupon.coin %></p>
                    </div>
                    <br>
                </a>

            </div>
            <% ++count; %>
            <% }); %>


            <% if(count < 2 ){ %>

            <div class="container" style="margin-right: 60px;" >
                
                    
            </div>

            <% } %>

            <form action="/coupon/search" method="GET" style="margin-left: 50px; margin-top: -120px;">

                <div class="field">
                    <label class="label">Region</label>
                    <div class="control">
                        <div class="select">
                            <select name="region" id="region123">
                                <option value="">Not Specified</option>
                                <option value="KWL">Kowloon</option>
                                <option value="HKI">HK Island</option>
                                <option value="NT">New Territories</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Min Coin</label>
                    <div class="control">
                        <input class="input" type="text" name="minCoin" id="minCoin">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max Coin</label>
                    <div class="control">
                        <input class="input" type="text" name="maxCoin" id="maxCoin">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Vaild On</label>
                    <div class="control">
                        <input class="input" type="text" name="vaildOn" id="vaildOn">
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Search</button>
                    </div>
                </div>
            </form>


            <div>
            </div>
            <section>



                <section>

                    <div class="container " style="margin-left: 30px;">
                        <nav class="pagination" role="navigation" aria-label="pagination">
                            <a class="pagination-previous" id="previousButton">Previous</a>
                            <a class="pagination-next" id="nextButton">Next page</a>
                            <ul class="pagination-list">
                                <li>
                                    <a class="pagination-link" id="firstLink">1</a>
                                </li>
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                                <li>
                                    <a class="pagination-link" id="previousLink">45</a>
                                </li>
                                <li>
                                    <a class="pagination-link is-current" id="currentLink">46</a>
                                </li>
                                <li>
                                    <a class="pagination-link" id="nextLink">47</a>
                                </li>
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                                <li>
                                    <a class="pagination-link" id="lastLink">86</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>

                <script>
                    function setPagination() {


                        var previousButton = document.getElementById("previousButton");
                        var nextButton = document.getElementById("nextButton");
                        var currentLink = document.getElementById("currentLink");
                        var previousLink = document.getElementById("previousLink");
                        var nextLink = document.getElementById("nextLink");
                        var firstLink = document.getElementById("firstLink");
                        var lastLink = document.getElementById("lastLink");

                        var numOfRecords = parseInt("<%= numOfRecords %>");
                        console.log("numOfRecords" + numOfRecords);
                        var limit = Math.max(2, 1) || 1;
                        var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0;




                        var r = document.getElementById("region123").value;
                        var mi = document.getElementById("minCoin").value;
                        var mx = document.getElementById("maxCoin").value;
                        var d = document.getElementById("vaildOn").value;


                        var u = r.value;
                        var o = mi.value;

                        //var r = document.querySelector("#region123").value;
                        //var mi = document.querySelector("#minCoin").value;
                        //var mx = document.querySelector("#maxCoin").value;
                        //var d = document.querySelector("#vaildOn").value;

                        //var r = document.querySelector('select[name="region"]').value;
                        //var mi = document.querySelector('input[name="minCoin"]').value;
                        //var mx = document.querySelector('input[name="maxCoin"]').value;
                        //var d = document.querySelector('input[name="vaildOn"]').value;

                        console.log("r: " + u);
                        console.log("r: " + o);
                        console.log("r: " + mx);
                        console.log("r: " + d);

                        console.log("currentweb: " + window.location.href);




                        var baseUrl = "/coupon/search?region=" + r + "&minCoin=" + mi + "&maxCoin=" + mx + "&vaildOn=" + d + "&limit=" + limit + "&offset=";



                        firstLink.href = baseUrl + 0;
                        previousButton.href = baseUrl + (offset - limit);


                        previousLink.href = baseUrl + (offset - limit);
                        currentLink.href = baseUrl + offset;
                        nextLink.href = baseUrl + (offset + limit);
                        nextButton.href = baseUrl + (offset + limit);
                        lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;

                        var currentPageNumber = Math.floor(offset / limit) + 1;

                        previousLink.innerHTML = currentPageNumber - 1;
                        currentLink.innerHTML = currentPageNumber;
                        nextLink.innerHTML = currentPageNumber + 1;
                        lastLink.innerHTML = Math.ceil(numOfRecords / limit);

                        if (offset < limit) {
                            previousButton.setAttribute("disabled", true);
                            previousButton.href = "";
                            previousLink.style.display = "none";
                        }

                        if (offset + limit >= numOfRecords) {
                            nextButton.setAttribute("disabled", true);
                            nextButton.href = "";
                            nextLink.style.display = "none";
                        }
                    }

                    setPagination();

                </script>