<!--paginate.ejs-->
<Section>
    <div class="container" style="margin-left: 50px;">
        <p><Strong>Coupon</Strong></p>
        <p>Redeem your coins for dining coupons</p>
    </div>
</Section>
<br>
<br>

<section>

    <div class="couponContainer ">

        <div class="columns is-mobile is-multiline is-vcentered">
            <% var count = 0; %>
            <% coupon.forEach( function(rubbishcoupon) { %>

            <div class="couponContainer ">

                <a href="http://localhost:1337/coupon/detail/<%= rubbishcoupon.id %>">
                    <figure>
                        <img style="object-fit:cover" src="<%= rubbishcoupon.image %>" />
                    </figure>

                    <div class="text-block">
                        <p><strong><%= rubbishcoupon.restaurant %></strong></p>
                        <p><%= rubbishcoupon.title %></p>
                        <br>
                        <p>Coind: <%= rubbishcoupon.coin %></p>
                    </div>
                    <br>
                </a>

            </div>
            <% ++count; %>
            <% }); %>


            <% if(count == 1 ){ %>

            <div class="container" style="margin-right: 60px;" >
                
                    
            </div>

            

            <% } else if(count == 0 ){ %>

                <div class="container" style="margin-right: 350px; margin-left: 50px;" >
                    <p >No Coupons found</p>  
                         
                </div>

                <div class="container" style="margin-right: 100px;" >
                    
                    
                </div>
    
                <% } %>

            <form action="/coupon/search" method="GET" style="margin-left: 50px; margin-top: -120px;">

                <div class="field">
                    <label class="label">Region</label>
                    <div class="control">
                        <div class="select">
                            <select name="region" id="region123">
                                <option value="">Not Specified</option>
                                <option value="KWL">Kowloon</option>
                                <option value="HKI">HK Island</option>
                                <option value="NT">New Territories</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Min Coin</label>
                    <div class="control">
                        <input class="input" type="number" name="minCoin" id="minCoin" value = "<%= req.query.minCoin%>">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Max Coin</label>
                    <div class="control">
                        <input class="input" type="number" name="maxCoin" id="maxCoin" value="<%= req.query.maxCoin %>">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Vaild On and Before</label>
                    <div class="control">
                        <input class="input" type="date" name="vaildOn" id="vaildOn" min="2018-01-01" max="2046-12-31" value="<%= req.query.vaildOn %>"> 
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Search</button>
                    </div>
                </div>
            </form>


            <div>
            </div>
            <section>



                <section>

                    <div class="container " style="margin-left: 30px;">
                        <nav class="pagination" role="navigation" aria-label="pagination">
                            <a class="pagination-previous" id="previousButton">Previous</a>
                            <a class="pagination-next" id="nextButton">Next page</a>
                            <ul class="pagination-list">
                                <li>
                                    <a class="pagination-link" id="firstLink">1</a>
                                </li>
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                                <li>
                                    <a class="pagination-link" id="previousLink">45</a>
                                </li>
                                <li>
                                    <a class="pagination-link is-current" id="currentLink">46</a>
                                </li>
                                <li>
                                    <a class="pagination-link" id="nextLink">47</a>
                                </li>
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                                <li>
                                    <a class="pagination-link" id="lastLink">86</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>

                <script>

                    document.querySelector('option[value="<%=req.query.region%>"]').selected = true;

                    function setPagination() {


                        var previousButton = document.getElementById("previousButton");
                        var nextButton = document.getElementById("nextButton");
                        var currentLink = document.getElementById("currentLink");
                        var previousLink = document.getElementById("previousLink");
                        var nextLink = document.getElementById("nextLink");
                        var firstLink = document.getElementById("firstLink");
                        var lastLink = document.getElementById("lastLink");

                        var numOfRecords = parseInt("<%= numOfRecords %>");
                        console.log("numOfRecords" + numOfRecords);
                        var limit = Math.max(2, 1) || 1;
                        var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0;


                        

                        var baseUrl = "/coupon/search?region=" + "<%= req.query.region %>" + "&minCoin=" + "<%= req.query.minCoin %>" + "&maxCoin=" + "<%= req.query.maxCoin %>" + "&vaildOn=" + "<%= req.query.vaildOn %>" + "&limit=" + limit + "&offset=";



                        firstLink.href = baseUrl + 0;
                        previousButton.href = baseUrl + (offset - limit);


                        previousLink.href = baseUrl + (offset - limit);
                        currentLink.href = baseUrl + offset;
                        nextLink.href = baseUrl + (offset + limit);
                        nextButton.href = baseUrl + (offset + limit);
                        lastLink.href = baseUrl + (Math.ceil(numOfRecords / limit) - 1) * limit;

                        var currentPageNumber = Math.floor(offset / limit) + 1;

                        previousLink.innerHTML = currentPageNumber - 1;
                        currentLink.innerHTML = currentPageNumber;
                        nextLink.innerHTML = currentPageNumber + 1;
                        lastLink.innerHTML = Math.ceil(numOfRecords / limit);

                        if (offset < limit) {
                            previousButton.setAttribute("disabled", true);
                            previousButton.href = "";
                            previousLink.style.display = "none";
                        }

                        if (offset + limit >= numOfRecords) {
                            nextButton.setAttribute("disabled", true);
                            nextButton.href = "";
                            nextLink.style.display = "none";
                        }
                    }

                    setPagination();

                </script>